<div class="card rtl" id="add-event-app">
    <div class="card-header">
        <h4>
            افزودن رویداد مالی
        </h4>
    </div>
    <div class="card-body">
        <h5>

            <a href="{% url 'accounting:selection' %}" target="_blank"> همه حساب ها</a>
        </h5>

        <h5>

            <a href="{% url 'accounting:tree_chart' %}" target="_blank"> درخت حساب ها</a>
        </h5>

        <form @submit.prevent="add_event()">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">

                        <label for="title">عنوان رویداد مالی جدید</label>
                        <input type="text" placeholder="" id="title" class="form-control" v-model="title">
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label for="exampleInputDate">تاریخ</label>
                        <date-picker v-model="event_datetime"></date-picker>
    
                        
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">

                        <label for="amount">مبلغ</label>
                        <input type="number" class="form-control" placeholder="" id="amount" v-model="amount">
                    </div>
                </div>



                <div class="col-md-12">
                    <div class="form-group">

                        <label for="bedehkar_code">بدهکار</label>
                        <input type="text" placeholder="" class="form-control" id="bedehkar_code" @input="select_bedehkar()"
                            v-model="bedehkar.code">
                            <h5 v-if="bedehkar.name" class="my-2">
                                <a :href="bedehkar.get_absolute_url">
                                    <span :class="'text-'+bedehkar.color" v-text="bedehkar.full_title"></span>
                                </a>
                            </h5>

                            <h6 v-if="bedehkar.name" class="my-2">
                                <a :href="bedehkar.get_absolute_url">
                                    <span :class="'text-'+bedehkar.color" v-text="bedehkar.code"></span>
                                </a>
                            </h6>
                    </div>
                </div>



                <div class="col-md-12">
                    <div class="form-group">

                        <label for="bestankar_code">بستانکار</label>
                        <input type="text" placeholder="" class="form-control" id="bestankar_code" @input="select_bestankar()"
                            v-model="bestankar.code">
                            <h5 v-if="bestankar.name" class="my-2">
                                <a :href="bestankar.get_absolute_url">
                                    <span :class="'text-'+bestankar.color" v-text="bestankar.full_title"></span>
                                </a>
                               
                                
    
                            </h5>
                            <h6 v-if="bestankar.name" class="my-2">
                                
                                
                                <a :href="bestankar.get_absolute_url"></a>
                                    <small :class="'text-'+bestankar.color" v-text="bestankar.pure_code"></small>
                                </a>
    
                            </h6>
                    </div>
                </div>


                <div class="col-md-12">
                    <button class="btn btn-success" type="submit">
                        <i class="fa fa-plus"></i>
                        افزودن رویداد مالی
                    </button>
                </div>
                <div class="col-md-12 my-2">
                    <div :class="'alert alert-'+message.color">
                        <div v-html="message.body"></div>
                    </div>
                </div>


            </div>
        </form>
    </div>
</div>