{% extends "accounting/layout.html" %}

{% block content %}
  <div class="card rtl" id="add-event-app">
    <div class="card-header">
        <h4>
            افزودن رویداد مالی
        </h4>
    </div>
    <div class="card-body">
        <form action="">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">

                        <label for="title">نام</label>
                        <input type="text" placeholder="" id="title" v-model="title">
                    </div>
                </div>
            </div>
        </form>
    </div>
  </div>
{% endblock content %}