{% extends "accounting/layout.html" %}
{% load static %}
{% load to_price %}

{% block content %}
<div class="row rtl">
    <div class="col-md-6">
        {% include "accounting/includes/account-app/card.html" %}

    </div>
    {% if add_basic_account_form %}
    <div class="col-md-6">

        {% include "accounting/includes/basic-account-app/add-template.html" %}
    </div>
    {% endif %}
    <div class="col-md-6">
        {% include "accounting/includes/basic-account-app/list-template.html" %}
    </div>
    <div class="col-lg-12">

        {% include "accounting/includes/account-app/childs.html" %}

    </div>
    <div class="col-md-12">
        {% include "accounting/includes/accounting-document-lines-app/template.html" %}

    </div>


</div>
{% endblock content %}
{% block script %}
{% if add_basic_account_form %}
{% include "accounting/includes/basic-account-app/add-script.html" %}
{% endif %}
{% include "accounting/includes/accounting-document-lines-app/script.html" %}
{% include "accounting/includes/basic-account-app/list-script.html" %}
{% endblock script %}