{% extends "accounting/layout.html" %}
{% load static %}

{% block content %}
<div class="row rtl">
    
    <div class="card">
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <th>
                       شرح 
                    </th>
                    <th>
                        مبلغ
                    </th>
                    <th>
                        بدهکار
                    </th>
                    
                    <th>
                        بستانکار
                    </th>
                    
                    <th>
                        مانده
                    </th>
                </thead>
                <tbody>
                    {% for accounting_document in accounting_documents %}
                      
                    <tr>
                        <td>
                            <a href="{{accounting_document.get_absolute_url}}">

                                {{accounting_document.title}}
                            </a>
                        </td>
                        
                        <td>
                            {{accounting_document.bedehkar}}
                            
                        </td>
                        <td>
                            {{accounting_document.bestankar}}
                            
                        </td>
                        
                        
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
    
</div>
{% endblock content %}


{% block script %}

{% endblock script %}

