{% extends "accounting/layout.html" %}
{% load static %}
{% load to_price %}

{% block content %}
<div class="row rtl">


</div>
<div class="col-md-12">
    <div class="card">
        <div class="card-body">
            <h6>
                گروه حساب
            </h6>
            <h4>
                {{account_group.title}}
            </h4>

            <h5>
                {{account_group.balance|to_price_color|safe}}
            </h5>

            <h6>
                حساب های کل :

            </h6>
            {% for basic_account in account_group.basicaccount_set.all %}

            <h6>
                <a href="{{basic_account.get_absolute_url}}">
                    {{basic_account.title}}
                    <small>
                        (
                        {{basic_account.balance|to_price_color|safe}}
                        )
                    </small>
                </a>
            </h6>
            {% for moein_account in basic_account.moein_accounts.all %}
            <div class="mr-5">

                <h6>
                    <a href="{{moein_account.get_absolute_url}}">
                        {{moein_account.title}}
                        <small>
                            (
                            {{moein_account.balance|to_price_color|safe}}
                            )
                        </small>
                    </a>
                </h6>
            </div>
            {% endfor %}

            {% endfor %}
        </div>
    </div>

</div>

</div>
{% endblock content %}


{% block script %}

{% endblock script %}