{% extends "accounting/wide-layout.html" %}
{% load static %}
{% load to_price %}
{% load to_amount_color %}

{% load to_persian_date %}

{% block content %}
<div class="row rtl">
    {% if add_accounting_document_line_form %}
    <div class="col-md-12">
        {% include "accounting/includes/add-accounting-document-line-app/template.html" %}
    </div>
    {% endif %}
    <div class="col-md-12">
        
        
    </div>
</div>
    {% endblock content %}


    {% block script %}

    {% if add_accounting_document_line_form %}
    {% include "accounting/includes/add-accounting-document-line-app/script.html" %}
    {% endif %}
    {% include "accounting/includes/accounting-document-lines-app/script.html" %}

    {% endblock script %}