{% extends "accounting/wide-layout.html" %}
{% load static %}
{% load to_price %}

{% block content %}
<div class="row rtl">
    <div class="col-md-4">
        {% include "accounting/includes/account-app/card.html" %}
    </div>

    {% if add_moein_account_form %}
    <div class="col-md-4">
        


        {% include "accounting/includes/moein-account-app/add-template.html" %}
        
    </div>
    {% endif %}
    <div class="col-md-4">
        {% include "accounting/includes/moein-account-app/list-template.html" %}

    </div>

    <div class="col-lg-12">

        {% include "accounting/includes/account-app/childs.html" %}

    </div>

    <div class="col-md-12">
        {% include "accounting/includes/accounting-document-lines-app/template.html" %}

    </div>


</div>
{% endblock content %}


{% block script %}

{% include "accounting/includes/account-app/script.html" %}
{% if add_moein_account_form %}

{% include "accounting/includes/moein-account-app/add-script.html" %}

{% endif %}
{% include "accounting/includes/moein-account-app/list-script.html" %}
{% include "accounting/includes/accounting-document-lines-app/script.html" %}

{% endblock script %}