{% extends "accounting/layout.html" %}

{% load to_price %}
{% block content %}
<div class="row rtl">
    <div class="col-lg-12">
        {% include "accounting/includes/accounts-app/list.html" %}

    </div>
    <div class="col-md-12">

        <div class="text-center farsi">
            حساب های کل
        </div>

    </div>

    <div class="col-md-12">
        {% include "accounting/includes/basic-accounts-app/list.html" %}
      </div>

     

</div>
{% endblock content %}


{% block script %}
{% include "accounting/includes/accounts-app/script.html" %}
        {% include "accounting/includes/add-account-app/script.html" %}

{% endblock script %}