{% extends "accounting/layout.html" %}
{% load static %}

{% block content %}
<div class="row rtl" id="event-app">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5>
                    رویداد مالی
                </h5>
                <h4>
                    {{event.title}}
                </h4>
            </div>
            <div class="card-body">
                <h5>

                    بدهکار

                    <a :href="event.pay_to.get_absolute_url">
                        <span v-text="event.pay_to.name"></span>
                        {{event.pay_to.name}}
                    </a>
                </h5>

                <h5>

                    بستانکار

                    <a :href="event.pay_from.get_absolute_url">
                        <span v-text="event.pay_from.name"></span>
                    </a>
                </h5>


                



            </div>
        </div>
    </div>




</div>
{% endblock content %}


{% block script %}
<script>
    let event=JSON.parse("{{event_s|escapejs}}")
    let event_app=new Vue({
        el:"#event-app",
        data:{
                event:event,
        },
        methods:{

        },
    })
</script>
{% endblock script %}