{% extends "accounting/layout.html" %}
{% load static %}
{% load to_price %}
{% block content %}
<div class="row rtl">
    <div class="col-md-4">
        {% include "accounting/includes/account-app/card.html" %}
    </div>
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h6>
                    حساب های تفصیلی

                </h6>
            </div>

            <div class="card-body">

                {% for tafsili_account in moein_account.tafsiliaccount_set.all %}
                <h6>
                    <a href="{{tafsili_account.get_absolute_url}}">
                        {{tafsili_account.title}}
                        <small>
                            (
                            {{tafsili_account.balance|to_price_color|safe}}
                            )
                        </small>
                    </a>
                </h6>
                {% endfor %}


            </div>
        </div>
    </div>
    {% if add_moein_account_form %}
    <div class="col-md-6">
        {% include "accounting/includes/moein-account-app/add-template.html" %}
    </div>
    {% endif %}
</div>
{% endblock content %}
{% block script %}
{% if add_moein_account_form %}
<div class="col-md-6">
    {% include "accounting/includes/moein-account-app/add-script.html" %}
</div>
{% endif %}
{% endblock script %}