{% extends "accounting/layout.html" %}
{% load static %}
{% load to_price %}
{% block content %}
<div class="row rtl">
    <div class="col-md-6">
        {% include "accounting/includes/account-app/card.html" %}
    </div>
    {% if moein_account.basic_account %}

    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h6>
                    حساب های معین زیر مجموعه

                </h6>
            </div>

            <div class="card-body">

                {% for moein_account in moein_account.moeinaccount_set.all %}
                <h6>
                    <a href="{{moein_account.get_absolute_url}}">
                        {{moein_account.full_title}}
                        <small>
                            (
                            {{moein_account.balance|to_price_color|safe}}
                            )
                        </small>
                    </a>
                </h6>


                {% endfor %}


            </div>
        </div>
    </div>
    {% endif %}

    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h6>
                    حساب های تفصیلی

                </h6>
            </div>

            <div class="card-body">

             

                {% for tafsili_account in moein_account.tafsiliaccount_set.all %}
                {% include "accounting/includes/tafsili-account-app/item-media.html" %}
                {% endfor %}
            </div>
        </div>
    </div>



    {% if add_moein_account_form %}
    <div class="col-md-6">
        {% include "accounting/includes/moein-account-app/add-template.html" %}
    </div>
    {% endif %}


    {% if add_tafsili_account_form %}
    <div class="col-md-6">
        {% include "accounting/includes/tafsili-account-app/add-template.html" %}
    </div>
    {% endif %}

</div>
{% endblock content %}
{% block script %}
<script>
    let moein_account_id = parseInt("{{moein_account.id}}")
</script>
{% if add_moein_account_form %}
{% include "accounting/includes/moein-account-app/add-script.html" %}
{% endif %}


{% if add_tafsili_account_form %}
{% include "accounting/includes/tafsili-account-app/add-script.html" %}
{% endif %}

{% endblock script %}