{% extends "accounting/layout.html" %}
{% load static %}
{% load to_amount_color %}

{% load to_price %}
{% load to_persian_date %}
{% block content %}
<div class="row rtl">
    <div class="col-md-12">
        {% include "accounting/includes/account-app/card.html" %}
    </div>
    <div class="col-md-12">
        <div class="text-center">
            <img src="{{account.logo}}" width="64" alt="">

        </div>
        <div class="text-center farsi">

            {{account.title}}
            <a href="{{account.get_edit_url}}">
                <i class="fa fa-edit text-warning">

                </i>
            </a>
            <a href="{{account.get_delete_url}}">
                <i class="fa fa-trash text-danger">

                </i>
            </a>

        </div>
        <div class="text-center text-{{account.balance|to_amount_color}} farsi">

            {{account.balance|to_price}}
        </div>

    </div>
    {% if add_tafsili_account_form %}
    <div class="col-md-6">
        {% include "accounting/includes/tafsili-account-app/add-template.html" %}
    </div>
    {% endif %}

   

    <div class="col-lg-12">

        {% include "accounting/includes/account-app/childs.html" %}

    </div>

    <div class="col-md-12">
        {% include "accounting/includes/accounting-document-lines-app/template.html" %}

    </div>
 
</div>
{% endblock content %}


{% block script %}
{% include "accounting/includes/accounting-document-lines-app/script.html" %}

{% if add_tafsili_account_form %}
<div class="col-md-6">
    {% include "accounting/includes/tafsili-account-app/add-script.html" %}
</div>
{% endif %}
{% endblock script %}