{% extends "accounting/layout.html" %}
{% load static %}
{% load to_amount_color %}

{% load to_price %}
{% load to_persian_date %}
{% block content %}
<div class="row rtl">
    <div class="col-md-12">
        {% include "accounting/includes/account-app/card.html" %}
    </div>
  
    
    {% if add_tafsili_account_form %}
    <div class="col-md-6">
        {% include "accounting/includes/tafsili-account-app/add-template.html" %}
    </div>
    {% endif %}

   

    <div class="col-lg-12">

        {% include "accounting/includes/account-app/childs.html" %}

    </div>

    <div class="col-md-12">
        {% include "accounting/includes/accounting-document-lines-app/template.html" %}

    </div>
 
</div>
{% endblock content %}


{% block script %}
{% include "accounting/includes/accounting-document-lines-app/script.html" %}

{% if add_tafsili_account_form %}
<div class="col-md-6">
    {% include "accounting/includes/tafsili-account-app/add-script.html" %}
</div>
{% endif %}
{% endblock script %}