<div class="card" id="add-moein-account-app">
    <div class="card-header">
        <h6>
            افزودن
            حساب معین
        </h6>
    </div>
    <div class="card-body rtl text-right">
        <h6>سر فصل :
            {{basic_account.full_title}}
            {{moein_account.full_title}}
        </h6>
        <form @submit.prevent="add_moein_account()">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="">کد</label>
                        <input class="form-control" required type="text" v-model="code">

                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group">
                        <label for="">نام</label>
                        <input class="form-control" required type="text" v-model="name">

                    </div>
                </div>

            </div>



            <button type="submit" class="btn btn-success">
                <i class="fa fa-plus"></i>
                افزودن
            </button>
        </form>
        <div class="mt-2" v-if="message.show">
            <div :class="'farsi text-right alert alert-'+message.color">
                <h6 v-html="message.title">

                </h6>

                <span v-html="message.body">

                </span>
            </div>
        </div>
    </div>
</div>