<div class="card" id="add-tafsili-account-app">
    <div class="card-header">
        <h6>
         افزودن
     حساب تفصیلی
       </h6>
    </div>
    <div class="card-body rtl text-right">
        <h6>سر فصل :
            {{tafsili_account.full_title}}
            {{moein_account.full_title}}
        </h6>
        <form @submit.prevent="add_tafsili_account()">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="">کد</label>
                        <input required type="text" v-model="code">

                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group">
                        <label for="">نام</label>
                        <input required type="text" v-model="name">

                    </div>
                </div>

            </div>



            <button type="submit" class="btn btn-success">
                <i class="fa fa-plus"></i>
                افزودن
            </button>
        </form>

    </div>
</div>