{% load to_price %}
{% load to_amount_color %}
{% load to_persian_date %}
<div class="card">
    <div class="card-header">
        <h6>
            {{account.type}}
        </h6>
    </div>
    <div class="card-body">

        {% include "accounting/includes/account-app/media-simple.html" %}



        <div class="farsi text-left">

            <a href="{% url 'accounting:account' pk=account.id %}" title="اکانت" class=" text-info">
                <i class="fa fa-link text-info">
                </i>
                اکانت
            </a>
            <a href="{{account.get_absolute_url}}" title="اکانت" class=" text-info">
                <i class="fa fa-link text-success">
                </i>
                اکانت
            </a>
            <a href="{{account.get_edit_url}}" title="ویرایش" class=" text-warning">
                <i class="fa fa-edit text-warning">
                </i>
                ویرایش
            </a>
            <a href="{{account.get_delete_url}}" title="حذف" class=" text-danger">
                <i class="fa fa-trash text-danger">
                </i>
                حذف
            </a>
        </div>

        <div class="text-center text-{{account.balance|to_amount_color}} farsi">
            {{account.balance|to_price}}
        </div>
    </div>


</div>