{% load to_price %}
<div class="media">
    <a href="{{account.get_absolute_url}}">

        <img src="{{account.logo}}" width="72" alt="">
    </a>
    <div class="media-body mr-2">
        <div>
            {% if account.parent %}
            {% if account.parent.parent %}
            {% if account.parent.parent.parent %}
            {% if account.parent.parent.parent.parent %}
            {% if account.parent.parent.parent.parent.parent %}
            <a href="{{account.parent.parent.parent.parent.parent.get_absolute_url}}">
              <h6 class="text-{{account.parent.parent.parent.parent.parent.color}}">

                  {{account.parent.parent.parent.parent.parent.name}}
                  <span class="badge badge-{{account.parent.parent.parent.parent.parent.color}}">
                    {{account.parent.parent.parent.parent.parent.type}}
                  </span>
              </h6>
            </a>
          {% endif %}

            <a href="{{account.parent.parent.parent.parent.get_absolute_url}}">
              <h6 class="text-{{account.parent.parent.parent.parent.color}}">

                  {{account.parent.parent.parent.parent.name}}
                  <span class="badge badge-{{account.parent.parent.parent.parent.color}}">
                    {{account.parent.parent.parent.parent.type}}
                  </span>
              </h6>
            </a>
          {% endif %}


            <a href="{{account.parent.parent.parent.get_absolute_url}}">
              <h6 class="text-{{account.parent.parent.parent.color}}">

                  {{account.parent.parent.parent.name}}
                  <span class="badge badge-{{account.parent.parent.parent.color}}">
                    {{account.parent.parent.parent.type}}
                  </span>

              </h6>
            </a>
          {% endif %}
              <a href="{{account.parent.parent.get_absolute_url}}">
                <h6 class="text-{{account.parent.parent.color}}">

                    {{account.parent.parent.name}}
                    <span class="badge badge-{{account.parent.parent.color}}">
                        {{account.parent.parent.type}}
                      </span>

                </h6>
              </a>
            {% endif %}
              <a href="{{account.parent.get_absolute_url}}">
                <h6 class="text-{{account.parent.color}}">

                    {{account.parent.name}}
                    <span class="badge badge-{{account.parent.color}}"> 
                        {{account.parent.type}}
                      </span>
                </h6>
              </a>
            {% endif %}
        </div>
        <div>
            <h4>
                <a href="{{account.get_absolute_url}}">
                        {{account.name}}

                    
                    <span class="badge badge-{{account.color}}" >
                        {{account.type}}
                    </span>
                </a>
            </h4>
        </div>
        <div>
            <!-- <a href="{{account.parent.get_absolute_url}}">
                <h6>{{account.parent.full_title}}

                </h6>
            </a> -->

        </div>
        <h6 class="text-{{account.color}}">
            <small class="text-muted">

                {{account.code}}
            </small>

        </h6>

        <h6 class="text-{{account.color}}">

            <span class="mr-2">

                {{account.balance|to_price_color|safe}}
            </span>
        </h6>

        <a href="">

            <h6>{{account.parent_account}}</h6>
        </a>
    </div>
</div>