<div id="accounts-table-app">
    <div class="my-2">

        <input type="text" class="form-control" v-model="search_for" @input="filter()">
    </div>
    <div class="table-responsive farsi">
        <table class="table table-striped">
            <thead>

            </thead>
            <tbody>
                <th>
                    نام
                </th>

                <th>
                    کد
                </th>


                <th>
                    نوع
                </th>


                <th>
                    مانده
                </th>


            </tbody>
            <tbody>
                <tr v-for="account in accounts">
                    <td>
                        <a :href="account.get_absolute_url" :class="'text-'+account.color">
                            <div>

                                <span v-text="account.name"></span>
                            </div>
                            <div>

                                <small v-text="account.full_title"></small>
                            </div>
                            
                        </a>
                    </td>

                    <td>
                        <span v-text="account.code"></span>

                    </td>
                    <td>
                        <span v-text="account.type"></span>

                    </td>

                    <td>
                        <span v-html="to_price(account.balance)"></span>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>